---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'

const post = Astro.props
const { Content } = await post.render()

const headPage: HeadPageProps = {
  title: 'blog詳細PageTitle', // TODO: 動的にすること
  description: 'blog詳細ページの説明です。', // TODO: 動的にすること
  robots: 'all',
  ogType: 'article',
  ogImage: '/ogp/general.webp', // TODO: ファイルのパスをどうするか決めること TODO: 動的にすること
  ogImageAlt: 'ogImageAlt', // TODO: 動的にすること
  xCreator: '@xCreator', // TODO: 動的にすること
  author: 'author', // TODO: 動的にすること
}

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
---

<Layout headPage={headPage}>
  <div>
    {
      post.data.heroImage && (
        <img width={100} height={100} src={post.data.heroImage} alt='' />
      )
    }
  </div>
  <h1>{post.data.title}</h1>
  <hr />
  <Content />
</Layout>
