---
import { css } from '@/../styled-system/css'
import { BASE_URL } from '@/constants/url'
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'

const fruits = [
  { label: 'Apple', value: 'apple' },
  { label: 'Banana', value: 'banana' },
  { label: 'Cherry', value: 'cherry' }
]

const headPage: HeadPageProps = {
  title: 'examplePageTitle',
  description: 'exampleページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author'
}
---

<Layout headPage={headPage}>
  <a href={`${BASE_URL}`} class={css({})}> indexへ遷移 </a>
  <br />
  <a href={`${BASE_URL}blog/1/`} class={css({})}> blogへ遷移 </a>
  <ul>
    {
      fruits.map((fruit) => (
        <li
          class={css({
            color: 'black',
          })}
        >
          {fruit.value}
        </li>
      ))
    }
  </ul>
</Layout>
