---
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'
import { css } from '@/../styled-system/css'
import {
  SearchIcon,
  HomeIcon,
  HomeFillIcon,
  MenuIcon,
  CloseIcon,
  SettingsIcon,
  SettingsFillIcon,
  CheckCircleIcon,
  CheckCircleFillIcon,
  FavoriteIcon,
  FavoriteFillIcon,
  AddIcon,
  DeleteIcon,
  DeleteFillIcon,
  ArrowBackIcon,
  StarIcon,
  StarFillIcon,
  ChevronRightIcon,
  LogoutIcon,
  ArrowForwardIOSIcon,
  AddCircleIcon,
  AddCircleFillIcon,
  CancelIcon,
  CancelFillIcon,
  ArrowBackIOSIcon,
  ArrowForwardIcon,
  ArrowDropDownIcon,
  MoreVertIcon,
  CheckIcon,
  CheckBoxIcon,
  CheckBoxFillIcon,
  OpenInNewIcon,
  ToggleOnIcon,
  ToggleOnFillIcon,
  RefreshIcon,
  CheckBoxOutlineBlankIcon,
  LoginIcon,
  ChevronLeftIcon,
  RadioButtonUncheckedIcon,
  MoreHorizIcon,
  DownloadIcon,
  AppsIcon,
  ArrowRightAltIcon,
  RadioButtonCheckedIcon,
  FilterAltIcon,
  FilterAltFillIcon,
  RemoveIcon,
  BoltIcon,
  BoltFillIcon,
  ArrowUpwardIcon,
  ToggleOffIcon,
  ToggleOffFillIcon,
  FilterListIcon,
  DeleteForeverIcon,
  DeleteForeverFillIcon,
  AutorenewIcon,
  KeyIcon,
  KeyFillIcon,
  BlockIcon,
  SyncIcon,
  ArrowDownwardIcon,
  SortIcon,
  AddBoxIcon,
  AddBoxFillIcon,
  ArrowBackIOSNewIcon,
  RestartAltIcon,
  ShoppingCartCheckoutIcon,
  MenuOpenIcon,
  ExpandCircleDownIcon,
  ExpandCircleDownFillIcon,
  UndoIcon,
  BackspaceIcon,
  BackspaceFillIcon,
  ArrowCircleRightIcon,
  ArrowCircleRightFillIcon,
  DoneAllIcon,
  ArrowRightIcon,
  DoNotDisturbOnIcon,
  DoNotDisturbOnFillIcon,
  OpenInFullIcon,
  ManageSearchIcon,
  DoubleArrowIcon,
  SyncAltIcon,
  DoneOutlineIcon
} from '@/assets/icons'

const headPage: HeadPageProps = {
  title: 'iconPageTitle',
  description: 'iconページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author'
}
---

<Layout headPage={headPage}>
  <!-- Reference: https://docs.astro.build/en/guides/images/#svg-components -->
  <!-- <SearchIcon width='48px' height='48px' class={css({ fill: 'primary' })} /> のように -->
  <!-- width='48px' height='48px' と書くことで、元々のSVGに書かれたサイズを上書きできます。 -->
  <SearchIcon class={css({ fill: 'primary' })} />
  <HomeIcon class={css({ fill: 'primary' })} />
  <HomeFillIcon class={css({ fill: 'primary' })} />
  <MenuIcon class={css({ fill: 'primary' })} />
  <CloseIcon class={css({ fill: 'primary' })} />
  <SettingsIcon class={css({ fill: 'primary' })} />
  <SettingsFillIcon class={css({ fill: 'primary' })} />
  <CheckCircleIcon class={css({ fill: 'primary' })} />
  <CheckCircleFillIcon class={css({ fill: 'primary' })} />
  <FavoriteIcon class={css({ fill: 'primary' })} />
  <FavoriteFillIcon class={css({ fill: 'primary' })} />
  <AddIcon class={css({ fill: 'primary' })} />
  <DeleteIcon class={css({ fill: 'primary' })} />
  <DeleteFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIcon class={css({ fill: 'primary' })} />
  <StarIcon class={css({ fill: 'primary' })} />
  <StarFillIcon class={css({ fill: 'primary' })} />
  <ChevronRightIcon class={css({ fill: 'primary' })} />
  <LogoutIcon class={css({ fill: 'primary' })} />
  <ArrowForwardIOSIcon class={css({ fill: 'primary' })} />
  <AddCircleIcon class={css({ fill: 'primary' })} />
  <AddCircleFillIcon class={css({ fill: 'primary' })} />
  <CancelIcon class={css({ fill: 'primary' })} />
  <CancelFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIOSIcon class={css({ fill: 'primary' })} />
  <ArrowForwardIcon class={css({ fill: 'primary' })} />
  <ArrowDropDownIcon class={css({ fill: 'primary' })} />
  <MoreVertIcon class={css({ fill: 'primary' })} />
  <CheckIcon class={css({ fill: 'primary' })} />
  <CheckBoxIcon class={css({ fill: 'primary' })} />
  <CheckBoxFillIcon class={css({ fill: 'primary' })} />
  <OpenInNewIcon class={css({ fill: 'primary' })} />
  <ToggleOnIcon class={css({ fill: 'primary' })} />
  <ToggleOnFillIcon class={css({ fill: 'primary' })} />
  <RefreshIcon class={css({ fill: 'primary' })} />
  <CheckBoxOutlineBlankIcon class={css({ fill: 'primary' })} />
  <LoginIcon class={css({ fill: 'primary' })} />
  <ChevronLeftIcon class={css({ fill: 'primary' })} />
  <RadioButtonUncheckedIcon class={css({ fill: 'primary' })} />
  <MoreHorizIcon class={css({ fill: 'primary' })} />
  <DownloadIcon class={css({ fill: 'primary' })} />
  <AppsIcon class={css({ fill: 'primary' })} />
  <ArrowRightAltIcon class={css({ fill: 'primary' })} />
  <RadioButtonCheckedIcon class={css({ fill: 'primary' })} />
  <FilterAltIcon class={css({ fill: 'primary' })} />
  <FilterAltFillIcon class={css({ fill: 'primary' })} />
  <RemoveIcon class={css({ fill: 'primary' })} />
  <BoltIcon class={css({ fill: 'primary' })} />
  <BoltFillIcon class={css({ fill: 'primary' })} />
  <ArrowUpwardIcon class={css({ fill: 'primary' })} />
  <ToggleOffIcon class={css({ fill: 'primary' })} />
  <ToggleOffFillIcon class={css({ fill: 'primary' })} />
  <FilterListIcon class={css({ fill: 'primary' })} />
  <DeleteForeverIcon class={css({ fill: 'primary' })} />
  <DeleteForeverFillIcon class={css({ fill: 'primary' })} />
  <AutorenewIcon class={css({ fill: 'primary' })} />
  <KeyIcon class={css({ fill: 'primary' })} />
  <KeyFillIcon class={css({ fill: 'primary' })} />
  <BlockIcon class={css({ fill: 'primary' })} />
  <SyncIcon class={css({ fill: 'primary' })} />
  <ArrowDownwardIcon class={css({ fill: 'primary' })} />
  <SortIcon class={css({ fill: 'primary' })} />
  <AddBoxIcon class={css({ fill: 'primary' })} />
  <AddBoxFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIOSNewIcon class={css({ fill: 'primary' })} />
  <RestartAltIcon class={css({ fill: 'primary' })} />
  <ShoppingCartCheckoutIcon class={css({ fill: 'primary' })} />
  <MenuOpenIcon class={css({ fill: 'primary' })} />
  <ExpandCircleDownIcon class={css({ fill: 'primary' })} />
  <ExpandCircleDownFillIcon class={css({ fill: 'primary' })} />
  <UndoIcon class={css({ fill: 'primary' })} />
  <BackspaceIcon class={css({ fill: 'primary' })} />
  <BackspaceFillIcon class={css({ fill: 'primary' })} />
  <ArrowCircleRightIcon class={css({ fill: 'primary' })} />
  <ArrowCircleRightFillIcon class={css({ fill: 'primary' })} />
  <DoneAllIcon class={css({ fill: 'primary' })} />
  <ArrowRightIcon class={css({ fill: 'primary' })} />
  <DoNotDisturbOnIcon class={css({ fill: 'primary' })} />
  <DoNotDisturbOnFillIcon class={css({ fill: 'primary' })} />
  <OpenInFullIcon class={css({ fill: 'primary' })} />
  <ManageSearchIcon class={css({ fill: 'primary' })} />
  <DoubleArrowIcon class={css({ fill: 'primary' })} />
  <SyncAltIcon class={css({ fill: 'primary' })} />
  <DoneOutlineIcon class={css({ fill: 'primary' })} />

  {
    /* 
  <ZoomInIcon class={css({ fill: 'primary' })} />
  <DragIndicatorIcon class={css({ fill: 'primary' })} />
  <FullscreenIcon class={css({ fill: 'primary' })} />
  <IOSShareIcon class={css({ fill: 'primary' })} />
  <StarHalfIcon class={css({ fill: 'primary' })} />
  <KeyboardDoubleArrowRightIcon class={css({ fill: 'primary' })} />
  <SettingsAccessibilityIcon class={css({ fill: 'primary' })} />
  <ReplyIcon class={css({ fill: 'primary' })} />
  */
  }

  {
    /* 書き方の例
    <svg viewBox='85 -880 803 800' width='24px' height='24px' fill='#262626' aria-label=''>
      <path
        d='m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm112-260q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Z'
      >
      </path>
      <title></title>
    </svg>
    */
  }

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='zoom in'>
    <path
      d='M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Zm-40-60v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80Z'
    >
    </path>
    <title>zoom in</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='#262626'
    aria-label='drag indicator'
  >
    <path
      d='M360-160q-33 0-56.5-23.5T280-240q0-33 23.5-56.5T360-320q33 0 56.5 23.5T440-240q0 33-23.5 56.5T360-160Zm240 0q-33 0-56.5-23.5T520-240q0-33 23.5-56.5T600-320q33 0 56.5 23.5T680-240q0 33-23.5 56.5T600-160ZM360-400q-33 0-56.5-23.5T280-480q0-33 23.5-56.5T360-560q33 0 56.5 23.5T440-480q0 33-23.5 56.5T360-400Zm240 0q-33 0-56.5-23.5T520-480q0-33 23.5-56.5T600-560q33 0 56.5 23.5T680-480q0 33-23.5 56.5T600-400ZM360-640q-33 0-56.5-23.5T280-720q0-33 23.5-56.5T360-800q33 0 56.5 23.5T440-720q0 33-23.5 56.5T360-640Zm240 0q-33 0-56.5-23.5T520-720q0-33 23.5-56.5T600-800q33 0 56.5 23.5T680-720q0 33-23.5 56.5T600-640Z'
    >
    </path>
    <title>drag indicator</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='fullscreen'>
    <path
      d='M120-120v-200h80v120h120v80H120Zm520 0v-80h120v-120h80v200H640ZM120-640v-200h200v80H200v120h-80Zm640 0v-120H640v-80h200v200h-80Z'
    >
    </path>
    <title>fullscreen</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='iOS share'>
    <path
      d='M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z'
    >
    </path>
    <title>iOS share</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='star half'>
    <path
      d='m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z'
    >
    </path>
    <title>star half</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='#262626'
    aria-label='keyboard double arrow right'
  >
    <path
      d='M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z'
    >
    </path>
    <title>keyboard double arrow right</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='#262626'
    aria-label='settings accessibility'
  >
    <path
      d='M480-800q-33 0-56.5-23.5T400-880q0-33 23.5-56.5T480-960q33 0 56.5 23.5T560-880q0 33-23.5 56.5T480-800ZM360-200v-480q-60-5-122-15t-118-25l20-80q78 21 166 30.5t174 9.5q86 0 174-9.5T820-800l20 80q-56 15-118 25t-122 15v480h-80v-240h-80v240h-80ZM320 0q-17 0-28.5-11.5T280-40q0-17 11.5-28.5T320-80q17 0 28.5 11.5T360-40q0 17-11.5 28.5T320 0Zm160 0q-17 0-28.5-11.5T440-40q0-17 11.5-28.5T480-80q17 0 28.5 11.5T520-40q0 17-11.5 28.5T480 0Zm160 0q-17 0-28.5-11.5T600-40q0-17 11.5-28.5T640-80q17 0 28.5 11.5T680-40q0 17-11.5 28.5T640 0Z'
    >
    </path>
    <title>settings accessibility</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='reply'>
    <path
      d='M760-200v-160q0-50-35-85t-85-35H273l144 144-57 56-240-240 240-240 57 56-144 144h367q83 0 141.5 58.5T840-360v160h-80Z'
    >
    </path>
    <title>reply</title>
  </svg>
</Layout>
