---
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'
import { css } from '@/../styled-system/css'
import {
  SearchIcon,
  HomeIcon,
  HomeFillIcon,
  MenuIcon,
  CloseIcon,
  SettingsIcon,
  SettingsFillIcon,
  CheckCircleIcon,
  CheckCircleFillIcon,
  FavoriteIcon,
  FavoriteFillIcon,
  AddIcon,
  DeleteIcon,
  DeleteFillIcon,
  ArrowBackIcon,
  StarIcon,
  StarFillIcon,
  ChevronRightIcon,
  LogoutIcon,
  ArrowForwardIOSIcon,
  AddCircleIcon,
  AddCircleFillIcon,
  CancelIcon,
  CancelFillIcon,
  ArrowBackIOSIcon,
  ArrowForwardIcon,
  ArrowDropDownIcon,
  MoreVertIcon,
  CheckIcon,
  CheckBoxIcon,
  CheckBoxFillIcon,
  OpenInNewIcon,
  ToggleOnIcon,
  ToggleOnFillIcon,
  RefreshIcon,
  CheckBoxOutlineBlankIcon,
  LoginIcon,
  ChevronLeftIcon,
  RadioButtonUncheckedIcon,
  MoreHorizIcon,
  DownloadIcon,
  AppsIcon,
  ArrowRightAltIcon,
  RadioButtonCheckedIcon,
  FilterAltIcon,
  FilterAltFillIcon,
  RemoveIcon,
  BoltIcon,
  BoltFillIcon,
  ArrowUpwardIcon,
  ToggleOffIcon,
  ToggleOffFillIcon,
  FilterListIcon,
  DeleteForeverIcon,
  DeleteForeverFillIcon,
  AutorenewIcon,
  KeyIcon,
  KeyFillIcon,
  BlockIcon,
  SyncIcon,
  ArrowDownwardIcon,
  SortIcon,
  AddBoxIcon,
  AddBoxFillIcon,
  ArrowBackIOSNewIcon,
  RestartAltIcon,
  ShoppingCartCheckoutIcon,
  MenuOpenIcon,
  ExpandCircleDownIcon,
  ExpandCircleDownFillIcon,
  UndoIcon,
  BackspaceIcon,
  BackspaceFillIcon,
  ArrowCircleRightIcon,
  ArrowCircleRightFillIcon,
  DoneAllIcon,
  ArrowRightIcon,
  DoNotDisturbOnIcon,
  DoNotDisturbOnFillIcon,
  OpenInFullIcon,
  ManageSearchIcon,
  DoubleArrowIcon,
  SyncAltIcon,
  DoneOutlineIcon,
  ZoomInIcon,
  DragIndicatorIcon,
  FullscreenIcon,
  IOSShareIcon,
  StarHalfIcon,
  KeyboardDoubleArrowRightIcon,
  SettingsAccessibilityIcon,
  ReplyIcon
} from '@/assets/icons'

const headPage: HeadPageProps = {
  title: 'iconPageTitle',
  description: 'iconページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author'
}
---

<Layout headPage={headPage}>
  <!-- Reference: https://docs.astro.build/en/guides/images/#svg-components -->
  <!-- <SearchIcon width='48px' height='48px' class={css({ fill: 'primary' })} /> のように -->
  <!-- width='48px' height='48px' と書くことで、元々のSVGに書かれたサイズを上書きできます。 -->
  <SearchIcon class={css({ fill: 'primary' })} />
  <HomeIcon class={css({ fill: 'primary' })} />
  <HomeFillIcon class={css({ fill: 'primary' })} />
  <MenuIcon class={css({ fill: 'primary' })} />
  <CloseIcon class={css({ fill: 'primary' })} />
  <SettingsIcon class={css({ fill: 'primary' })} />
  <SettingsFillIcon class={css({ fill: 'primary' })} />
  <CheckCircleIcon class={css({ fill: 'primary' })} />
  <CheckCircleFillIcon class={css({ fill: 'primary' })} />
  <FavoriteIcon class={css({ fill: 'primary' })} />
  <FavoriteFillIcon class={css({ fill: 'primary' })} />
  <AddIcon class={css({ fill: 'primary' })} />
  <DeleteIcon class={css({ fill: 'primary' })} />
  <DeleteFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIcon class={css({ fill: 'primary' })} />
  <StarIcon class={css({ fill: 'primary' })} />
  <StarFillIcon class={css({ fill: 'primary' })} />
  <ChevronRightIcon class={css({ fill: 'primary' })} />
  <LogoutIcon class={css({ fill: 'primary' })} />
  <ArrowForwardIOSIcon class={css({ fill: 'primary' })} />
  <AddCircleIcon class={css({ fill: 'primary' })} />
  <AddCircleFillIcon class={css({ fill: 'primary' })} />
  <CancelIcon class={css({ fill: 'primary' })} />
  <CancelFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIOSIcon class={css({ fill: 'primary' })} />
  <ArrowForwardIcon class={css({ fill: 'primary' })} />
  <ArrowDropDownIcon class={css({ fill: 'primary' })} />
  <MoreVertIcon class={css({ fill: 'primary' })} />
  <CheckIcon class={css({ fill: 'primary' })} />
  <CheckBoxIcon class={css({ fill: 'primary' })} />
  <CheckBoxFillIcon class={css({ fill: 'primary' })} />
  <OpenInNewIcon class={css({ fill: 'primary' })} />
  <ToggleOnIcon class={css({ fill: 'primary' })} />
  <ToggleOnFillIcon class={css({ fill: 'primary' })} />
  <RefreshIcon class={css({ fill: 'primary' })} />
  <CheckBoxOutlineBlankIcon class={css({ fill: 'primary' })} />
  <LoginIcon class={css({ fill: 'primary' })} />
  <ChevronLeftIcon class={css({ fill: 'primary' })} />
  <RadioButtonUncheckedIcon class={css({ fill: 'primary' })} />
  <MoreHorizIcon class={css({ fill: 'primary' })} />
  <DownloadIcon class={css({ fill: 'primary' })} />
  <AppsIcon class={css({ fill: 'primary' })} />
  <ArrowRightAltIcon class={css({ fill: 'primary' })} />
  <RadioButtonCheckedIcon class={css({ fill: 'primary' })} />
  <FilterAltIcon class={css({ fill: 'primary' })} />
  <FilterAltFillIcon class={css({ fill: 'primary' })} />
  <RemoveIcon class={css({ fill: 'primary' })} />
  <BoltIcon class={css({ fill: 'primary' })} />
  <BoltFillIcon class={css({ fill: 'primary' })} />
  <ArrowUpwardIcon class={css({ fill: 'primary' })} />
  <ToggleOffIcon class={css({ fill: 'primary' })} />
  <ToggleOffFillIcon class={css({ fill: 'primary' })} />
  <FilterListIcon class={css({ fill: 'primary' })} />
  <DeleteForeverIcon class={css({ fill: 'primary' })} />
  <DeleteForeverFillIcon class={css({ fill: 'primary' })} />
  <AutorenewIcon class={css({ fill: 'primary' })} />
  <KeyIcon class={css({ fill: 'primary' })} />
  <KeyFillIcon class={css({ fill: 'primary' })} />
  <BlockIcon class={css({ fill: 'primary' })} />
  <SyncIcon class={css({ fill: 'primary' })} />
  <ArrowDownwardIcon class={css({ fill: 'primary' })} />
  <SortIcon class={css({ fill: 'primary' })} />
  <AddBoxIcon class={css({ fill: 'primary' })} />
  <AddBoxFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIOSNewIcon class={css({ fill: 'primary' })} />
  <RestartAltIcon class={css({ fill: 'primary' })} />
  <ShoppingCartCheckoutIcon class={css({ fill: 'primary' })} />
  <MenuOpenIcon class={css({ fill: 'primary' })} />
  <ExpandCircleDownIcon class={css({ fill: 'primary' })} />
  <ExpandCircleDownFillIcon class={css({ fill: 'primary' })} />
  <UndoIcon class={css({ fill: 'primary' })} />
  <BackspaceIcon class={css({ fill: 'primary' })} />
  <BackspaceFillIcon class={css({ fill: 'primary' })} />
  <ArrowCircleRightIcon class={css({ fill: 'primary' })} />
  <ArrowCircleRightFillIcon class={css({ fill: 'primary' })} />
  <DoneAllIcon class={css({ fill: 'primary' })} />
  <ArrowRightIcon class={css({ fill: 'primary' })} />
  <DoNotDisturbOnIcon class={css({ fill: 'primary' })} />
  <DoNotDisturbOnFillIcon class={css({ fill: 'primary' })} />
  <OpenInFullIcon class={css({ fill: 'primary' })} />
  <ManageSearchIcon class={css({ fill: 'primary' })} />
  <DoubleArrowIcon class={css({ fill: 'primary' })} />
  <SyncAltIcon class={css({ fill: 'primary' })} />
  <DoneOutlineIcon class={css({ fill: 'primary' })} />
  <ZoomInIcon class={css({ fill: 'primary' })} />
  <DragIndicatorIcon class={css({ fill: 'primary' })} />
  <FullscreenIcon class={css({ fill: 'primary' })} />
  <IOSShareIcon class={css({ fill: 'primary' })} />
  <StarHalfIcon class={css({ fill: 'primary' })} />
  <KeyboardDoubleArrowRightIcon class={css({ fill: 'primary' })} />
  <SettingsAccessibilityIcon class={css({ fill: 'primary' })} />
  <ReplyIcon class={css({ fill: 'primary' })} />

  {
    /* 書き方の例
    <svg viewBox='85 -880 803 800' width='24px' height='24px' fill='#262626' aria-label=''>
      <path
        d='m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm112-260q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Z'
      >
      </path>
      <title></title>
    </svg>
    */
  }
</Layout>
