---
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'
import { css } from '@/../styled-system/css'
import {
  SearchIcon,
  HomeIcon,
  HomeFillIcon,
  MenuIcon,
  CloseIcon,
  SettingsIcon,
  SettingsFillIcon,
  CheckCircleIcon,
  CheckCircleFillIcon,
  FavoriteIcon,
  FavoriteFillIcon,
  AddIcon,
  DeleteIcon,
  DeleteFillIcon,
  ArrowBackIcon,
  StarIcon,
  StarFillIcon,
  ChevronRightIcon,
  LogoutIcon,
  ArrowForwardIOSIcon,
  AddCircleIcon,
  AddCircleFillIcon,
  CancelIcon,
  CancelFillIcon,
  ArrowBackIOSIcon,
  ArrowForwardIcon,
  ArrowDropDownIcon,
  MoreVertIcon,
  CheckIcon,
  CheckBoxIcon,
  CheckBoxFillIcon,
  OpenInNewIcon,
  ToggleOnIcon,
  ToggleOnFillIcon,
  RefreshIcon,
  CheckBoxOutlineBlankIcon,
  LoginIcon,
  ChevronLeftIcon,
  RadioButtonUncheckedIcon,
  MoreHorizIcon,
  DownloadIcon,
  AppsIcon,
  ArrowRightAltIcon,
  RadioButtonCheckedIcon,
  FilterAltIcon,
  FilterAltFillIcon,
  RemoveIcon,
  BoltIcon,
  BoltFillIcon,
  ArrowUpwardIcon,
  ToggleOffIcon,
  ToggleOffFillIcon,
  FilterListIcon,
  DeleteForeverIcon,
  DeleteForeverFillIcon,
  AutorenewIcon,
  KeyIcon,
  KeyFillIcon,
  BlockIcon,
  SyncIcon,
  ArrowDownwardIcon,
  SortIcon,
  AddBoxIcon,
  AddBoxFillIcon,
  ArrowBackIOSNewIcon,
  RestartAltIcon,
  ShoppingCartCheckoutIcon,
  MenuOpenIcon,
  ExpandCircleDownIcon,
  ExpandCircleDownFillIcon,
  UndoIcon,
  BackspaceIcon,
  BackspaceFillIcon,
  ArrowCircleRightIcon,
  ArrowCircleRightFillIcon
  // DoneAllIcon,
  // ArrowRightIcon,
  // DoNotDisturbOnIcon,
  // DoNotDisturbOnFillIcon,
  // OpenInFullIcon,
  // ManageSearchIcon,
  // DoubleArrowIcon,
  // SyncAltIcon,
  // DoneOutlineIcon
} from '@/assets/icons'

const headPage: HeadPageProps = {
  title: 'iconPageTitle',
  description: 'iconページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author'
}
---

<Layout headPage={headPage}>
  <!-- <SearchIcon width='48px' height='48px' class={css({ fill: 'primary' })} /> のように -->
  <!-- width='48px' height='48px' と書くことで、元々のSVGに書かれたサイズを上書きできます。 -->
  <SearchIcon class={css({ fill: 'primary' })} />ok
  <HomeIcon class={css({ fill: 'primary' })} />
  <HomeFillIcon class={css({ fill: 'primary' })} />
  <MenuIcon class={css({ fill: 'primary' })} />ok
  <CloseIcon class={css({ fill: 'primary' })} />ok
  <SettingsIcon class={css({ fill: 'primary' })} />
  <SettingsFillIcon class={css({ fill: 'primary' })} />
  <CheckCircleIcon class={css({ fill: 'primary' })} />ok
  <CheckCircleFillIcon class={css({ fill: 'primary' })} />ok
  <FavoriteIcon class={css({ fill: 'primary' })} />
  <FavoriteFillIcon class={css({ fill: 'primary' })} />
  <AddIcon class={css({ fill: 'primary' })} />ok
  <DeleteIcon class={css({ fill: 'primary' })} />
  <DeleteFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIcon class={css({ fill: 'primary' })} />ok
  <StarIcon class={css({ fill: 'primary' })} />
  <StarFillIcon class={css({ fill: 'primary' })} />
  <ChevronRightIcon class={css({ fill: 'primary' })} />
  <LogoutIcon class={css({ fill: 'primary' })} />ok
  <ArrowForwardIOSIcon class={css({ fill: 'primary' })} />
  <AddCircleIcon class={css({ fill: 'primary' })} />ok
  <AddCircleFillIcon class={css({ fill: 'primary' })} />ok
  <CancelIcon class={css({ fill: 'primary' })} />ok
  <CancelFillIcon class={css({ fill: 'primary' })} />ok
  <ArrowBackIOSIcon class={css({ fill: 'primary' })} />
  <ArrowForwardIcon class={css({ fill: 'primary' })} />ok
  <ArrowDropDownIcon class={css({ fill: 'primary' })} />
  <MoreVertIcon class={css({ fill: 'primary' })} />
  <CheckIcon class={css({ fill: 'primary' })} />
  <CheckBoxIcon class={css({ fill: 'primary' })} />ok
  <CheckBoxFillIcon class={css({ fill: 'primary' })} />ok
  <OpenInNewIcon class={css({ fill: 'primary' })} />ok
  <ToggleOnIcon class={css({ fill: 'primary' })} />
  <ToggleOnFillIcon class={css({ fill: 'primary' })} />
  <RefreshIcon class={css({ fill: 'primary' })} />ok
  <CheckBoxOutlineBlankIcon class={css({ fill: 'primary' })} />ok
  <LoginIcon class={css({ fill: 'primary' })} />ok
  <ChevronLeftIcon class={css({ fill: 'primary' })} />
  <RadioButtonUncheckedIcon class={css({ fill: 'primary' })} />ok
  <MoreHorizIcon class={css({ fill: 'primary' })} />ok
  <DownloadIcon class={css({ fill: 'primary' })} />ok
  <AppsIcon class={css({ fill: 'primary' })} />ok
  <ArrowRightAltIcon class={css({ fill: 'primary' })} />ok
  <RadioButtonCheckedIcon class={css({ fill: 'primary' })} />ok
  <FilterAltIcon class={css({ fill: 'primary' })} />
  <FilterAltFillIcon class={css({ fill: 'primary' })} />
  <RemoveIcon class={css({ fill: 'primary' })} />
  <BoltIcon class={css({ fill: 'primary' })} />
  <BoltFillIcon class={css({ fill: 'primary' })} />
  <ArrowUpwardIcon class={css({ fill: 'primary' })} />ok
  <ToggleOffIcon class={css({ fill: 'primary' })} />
  <ToggleOffFillIcon class={css({ fill: 'primary' })} />
  <FilterListIcon class={css({ fill: 'primary' })} />ok
  <DeleteForeverIcon class={css({ fill: 'primary' })} />
  <DeleteForeverFillIcon class={css({ fill: 'primary' })} />
  <AutorenewIcon class={css({ fill: 'primary' })} />
  <KeyIcon class={css({ fill: 'primary' })} />
  <KeyFillIcon class={css({ fill: 'primary' })} />
  <BlockIcon class={css({ fill: 'primary' })} />ok
  <SyncIcon class={css({ fill: 'primary' })} />ok
  <ArrowDownwardIcon class={css({ fill: 'primary' })} />ok
  <SortIcon class={css({ fill: 'primary' })} />ok
  <AddBoxIcon class={css({ fill: 'primary' })} />ok
  <AddBoxFillIcon class={css({ fill: 'primary' })} />ok
  <ArrowBackIOSNewIcon class={css({ fill: 'primary' })} />
  <RestartAltIcon class={css({ fill: 'primary' })} />
  <ShoppingCartCheckoutIcon class={css({ fill: 'primary' })} />ok
  <MenuOpenIcon class={css({ fill: 'primary' })} />ok
  <ExpandCircleDownIcon class={css({ fill: 'primary' })} />ok
  <ExpandCircleDownFillIcon class={css({ fill: 'primary' })} />ok
  <UndoIcon class={css({ fill: 'primary' })} />ok
  <BackspaceIcon class={css({ fill: 'primary' })} />ok
  <BackspaceFillIcon class={css({ fill: 'primary' })} />ok
  <ArrowCircleRightIcon class={css({ fill: 'primary' })} />ok
  <ArrowCircleRightFillIcon class={css({ fill: 'primary' })} />ok

  {
    /* <DoneAllIcon class={css({ fill: 'primary' })} /> *}
  {/* <ArrowRightIcon class={css({ fill: 'primary' })} /> *}
  {/* <DoNotDisturbOnIcon class={css({ fill: 'primary' })} /> *}
  {/* <DoNotDisturbOnFillIcon class={css({ fill: 'primary' })} /> *}
  {/* <OpenInFullIcon class={css({ fill: 'primary' })} /> *}
  {/* <ManageSearchIcon class={css({ fill: 'primary' })} /> *}
  {/* <DoubleArrowIcon class={css({ fill: 'primary' })} /> *}
  {/* <SyncAltIcon class={css({ fill: 'primary' })} /> *}
  {/* <DoneOutlineIcon class={css({ fill: 'primary' })} /> *}

  {
    /* 書き方の例
    // TODO: widthまたはheightで小数点が発生した場合は自然数にしているが、本当にそれで良かったのか検討すること
    <svg viewBox='85 -880 803 800' width='24px' height='24px' fill='#262626' aria-label=''>
      <path
        d='m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm112-260q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Z'
      >
      </path>
      <title></title>
    </svg>
    */
  }

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='done all'>
    <path
      d='M268-240 42-466l57-56 170 170 56 56-57 56Zm226 0L268-466l56-57 170 170 368-368 56 57-424 424Zm0-226-57-56 198-198 57 56-198 198Z'
    >
    </path>
    <title>done all</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='arrow right'>
    <path d='M400-280v-400l200 200-200 200Z'></path>
    <title>arrow right</title>
  </svg>

  <svg
    height='24px'
    viewBox='0 -960 960 960'
    width='24px'
    fill='#262626'
    aria-label='do not disturb on'
  >
    <path
      d='M280-440h400v-80H280v80ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'
    >
    </path>
    <title>do not disturb on</title>
  </svg>
  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='#262626'
    aria-label='do not disturb on fill'
  >
    <path
      d='M280-440h400v-80H280v80ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'
    >
    </path>
    <title>do not disturb on fill</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='open in full'>
    <path d='M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z'></path>
    <title>open in full</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='#262626'
    aria-label='manage search'
  >
    <path
      d='M80-200v-80h400v80H80Zm0-200v-80h200v80H80Zm0-200v-80h200v80H80Zm744 400L670-354q-24 17-52.5 25.5T560-320q-83 0-141.5-58.5T360-520q0-83 58.5-141.5T560-720q83 0 141.5 58.5T760-520q0 29-8.5 57.5T726-410l154 154-56 56ZM560-400q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Z'
    >
    </path>
    <title>manage search</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='double arrow'>
    <path
      d='m242-200 200-280-200-280h98l200 280-200 280h-98Zm238 0 200-280-200-280h98l200 280-200 280h-98Z'
    >
    </path>
    <title>double arrow</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='sync alt'>
    <path
      d='M280-120 80-320l200-200 57 56-104 104h607v80H233l104 104-57 56Zm400-320-57-56 104-104H120v-80h607L623-784l57-56 200 200-200 200Z'
    >
    </path>
    <title>sync alt</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='#262626' aria-label='done outline'>
    <path
      d='m381-240 424-424-57-56-368 367-169-170-57 57 227 226Zm0 113L42-466l169-170 170 170 366-367 172 168-538 538Z'
    >
    </path>
    <title>done outline</title>
  </svg>
</Layout>
