---
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'
import { css } from '@/../styled-system/css'
import {
  SearchIcon,
  HomeIcon,
  HomeFillIcon,
  MenuIcon,
  CloseIcon,
  SettingsIcon,
  SettingsFillIcon,
  CheckCircleIcon,
  CheckCircleFillIcon,
  FavoriteIcon,
  FavoriteFillIcon,
  AddIcon,
  DeleteIcon,
  DeleteFillIcon,
  ArrowBackIcon,
  StarIcon,
  StarFillIcon,
  ChevronRightIcon,
  LogoutIcon,
  ArrowForwardIOSIcon,
  AddCircleIcon,
  AddCircleFillIcon,
  CancelIcon,
  CancelFillIcon,
  ArrowBackIOSIcon,
  ArrowForwardIcon,
  ArrowDropDownIcon,
  MoreVertIcon,
  CheckIcon,
  CheckBoxIcon,
  CheckBoxFillIcon,
  OpenInNewIcon,
  ToggleOnIcon,
  ToggleOnFillIcon,
  RefreshIcon,
  CheckBoxOutlineBlankIcon,
  LoginIcon,
  ChevronLeftIcon,
  RadioButtonUncheckedIcon,
  MoreHorizIcon,
  DownloadIcon,
  AppsIcon,
  ArrowRightAltIcon,
  RadioButtonCheckedIcon,
  FilterAltIcon,
  FilterAltFillIcon,
  RemoveIcon,
  BoltIcon,
  BoltFillIcon,
  ArrowUpwardIcon,
  ToggleOffIcon,
  ToggleOffFillIcon,
  FilterListIcon,
  DeleteForeverIcon,
  DeleteForeverFillIcon,
  AutorenewIcon,
  KeyIcon,
  KeyFillIcon,
  BlockIcon,
  SyncIcon,
  ArrowDownwardIcon,
  SortIcon,
  AddBoxIcon,
  AddBoxFillIcon,
  ArrowBackIOSNewIcon,
  RestartAltIcon,
  ShoppingCartCheckoutIcon,
  MenuOpenIcon,
  ExpandCircleDownIcon,
  ExpandCircleDownFillIcon,
  UndoIcon,
  BackspaceIcon,
  BackspaceFillIcon
  // ArrowCircleRightIcon,
  // ArrowCircleRightFillIcon
} from '@/assets/icons'

const headPage: HeadPageProps = {
  title: 'iconPageTitle',
  description: 'iconページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author'
}
---

<Layout headPage={headPage}>
  <SearchIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <HomeIcon width='22px' height='24px' class={css({ fill: 'primary' })} />
  <HomeFillIcon width='22px' height='24px' class={css({ fill: 'primary' })} />
  <MenuIcon width='24px' height='16px' class={css({ fill: 'primary' })} />
  <CloseIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <SettingsIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <SettingsFillIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <CheckCircleIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <CheckCircleFillIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <FavoriteIcon width='24px' height='22px' class={css({ fill: 'primary' })} />
  <FavoriteFillIcon width='24px' height='22px' class={css({ fill: 'primary' })} />
  <AddIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <DeleteIcon width='21px' height='24px' class={css({ fill: 'primary' })} />
  <DeleteFillIcon width='21px' height='24px' class={css({ fill: 'primary' })} />
  <ArrowBackIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <StarIcon width='24px' height='23px' class={css({ fill: 'primary' })} />
  <StarFillIcon width='24px' height='23px' class={css({ fill: 'primary' })} />
  <ChevronRightIcon width='15px' height='24px' class={css({ fill: 'primary' })} />
  <LogoutIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <ArrowForwardIOSIcon width='14px' height='24px' class={css({ fill: 'primary' })} />
  <AddCircleIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <AddCircleFillIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <CancelIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <CancelFillIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <ArrowBackIOSIcon width='14px' height='24px' class={css({ fill: 'primary' })} />
  <ArrowForwardIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <ArrowDropDownIcon width='24px' height='12px' class={css({ fill: 'primary' })} />
  <MoreVertIcon width='6px' height='24px' class={css({ fill: 'primary' })} />
  <CheckIcon width='24px' height='18px' class={css({ fill: 'primary' })} />
  <CheckBoxIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <CheckBoxFillIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <OpenInNewIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <ToggleOnIcon width='24px' height='13px' class={css({ fill: 'primary' })} />
  <ToggleOnFillIcon width='24px' height='13px' class={css({ fill: 'primary' })} />
  <RefreshIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <CheckBoxOutlineBlankIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <LoginIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <ChevronLeftIcon width='15px' height='24px' class={css({ fill: 'primary' })} />
  <RadioButtonUncheckedIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <MoreHorizIcon width='24px' height='6px' class={css({ fill: 'primary' })} />
  <DownloadIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <AppsIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <ArrowRightAltIcon width='24px' height='18px' class={css({ fill: 'primary' })} />
  <RadioButtonCheckedIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <FilterAltIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <FilterAltFillIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <RemoveIcon width='24px' height='4px' class={css({ fill: 'primary' })} />
  <BoltIcon width='19px' height='24px' class={css({ fill: 'primary' })} />
  <BoltFillIcon width='19px' height='24px' class={css({ fill: 'primary' })} />
  <ArrowUpwardIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <ToggleOffIcon width='24px' height='13px' class={css({ fill: 'primary' })} />
  <ToggleOffFillIcon width='24px' height='13px' class={css({ fill: 'primary' })} />
  <FilterListIcon width='24px' height='16px' class={css({ fill: 'primary' })} />
  <DeleteForeverIcon width='21px' height='24px' class={css({ fill: 'primary' })} />
  <DeleteForeverFillIcon width='21px' height='24px' class={css({ fill: 'primary' })} />
  <AutorenewIcon width='17px' height='24px' class={css({ fill: 'primary' })} />
  <KeyIcon width='24px' height='13px' class={css({ fill: 'primary' })} />
  <KeyFillIcon width='24px' height='13px' class={css({ fill: 'primary' })} />
  <BlockIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <SyncIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <ArrowDownwardIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <SortIcon width='24px' height='16px' class={css({ fill: 'primary' })} />
  <AddBoxIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <AddBoxFillIcon width='24px' height='24px' class={css({ fill: 'primary' })} />

  <!-- -------------------------------------------------------------------------- -->
  <!-- -------------------------------------------------------------------------- -->
  <!-- -------------------------------------------------------------------------- -->

  <ArrowBackIOSNewIcon width='15px' height='24px' class={css({ fill: 'primary' })} />
  <RestartAltIcon width='21px' height='24px' class={css({ fill: 'primary' })} />
  <ShoppingCartCheckoutIcon width='24px' height='23px' class={css({ fill: 'primary' })} />
  <MenuOpenIcon width='24px' height='16px' class={css({ fill: 'primary' })} />
  <ExpandCircleDownIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <ExpandCircleDownFillIcon width='24px' height='24px' class={css({ fill: 'primary' })} />
  <UndoIcon width='24px' height='23px' class={css({ fill: 'primary' })} />
  <BackspaceIcon width='24px' height='20px' class={css({ fill: 'primary' })} />
  <BackspaceFillIcon width='24px' height='20px' class={css({ fill: 'primary' })} />
  {/* <ArrowCircleRightIcon width='px' height='px' class={css({ fill: 'primary' })} /> */}
  {/* <ArrowCircleRightFillIcon width='px' height='px' class={css({ fill: 'primary' })} /> */}

  {
    /* 書き方の例
    <svg viewBox='85 -880 803 800' width='24px' height='24px' fill='#262626' aria-label=''>
      <path
        d='m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm112-260q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Z'
      >
      </path>
      <title></title>
    </svg>
    */
  }

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='#262626'
    aria-label='arrow circle right'
  >
    <path
      d='m480-320 160-160-160-160-56 56 64 64H320v80h168l-64 64 56 56Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'
    >
    </path>
    <title>arrow circle right</title>
  </svg>
  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='#262626'
    aria-label='arrow circle right fill'
  >
    <path
      d='m480-320 160-160-160-160-56 56 64 64H320v80h168l-64 64 56 56Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'
    >
    </path>
    <title>arrow circle right fill</title>
  </svg>
</Layout>
