---
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'
import { css } from '@/../styled-system/css'
import {
  SearchIcon,
  HomeIcon,
  HomeFillIcon,
  MenuIcon,
  CloseIcon,
  SettingsIcon,
  SettingsFillIcon,
  CheckCircleIcon,
  CheckCircleFillIcon,
  FavoriteIcon,
  FavoriteFillIcon,
  AddIcon,
  DeleteIcon,
  DeleteFillIcon,
  ArrowBackIcon,
  StarIcon,
  StarFillIcon,
  ChevronRightIcon,
  LogoutIcon,
  ArrowForwardIOSIcon,
  AddCircleIcon,
  AddCircleFillIcon,
  CancelIcon,
  CancelFillIcon,
  ArrowBackIOSIcon,
  ArrowForwardIcon,
  ArrowDropDownIcon,
  MoreVertIcon,
  CheckIcon,
  CheckBoxIcon,
  CheckBoxFillIcon,
  OpenInNewIcon,
  ToggleOnIcon,
  ToggleOnFillIcon,
  RefreshIcon,
  CheckBoxOutlineBlankIcon,
  LoginIcon,
  ChevronLeftIcon,
  RadioButtonUncheckedIcon,
  MoreHorizIcon,
  DownloadIcon,
  AppsIcon,
  ArrowRightAltIcon,
  RadioButtonCheckedIcon,
  FilterAltIcon,
  FilterAltFillIcon,
  RemoveIcon,
  BoltIcon,
  BoltFillIcon,
  ArrowUpwardIcon,
  ToggleOffIcon,
  ToggleOffFillIcon,
  FilterListIcon,
  DeleteForeverIcon,
  DeleteForeverFillIcon,
  AutorenewIcon,
  KeyIcon,
  KeyFillIcon,
  BlockIcon,
  SyncIcon,
  ArrowDownwardIcon,
  SortIcon,
  AddBoxIcon,
  AddBoxFillIcon,
  ArrowBackIOSNewIcon,
  RestartAltIcon,
  ShoppingCartCheckoutIcon,
  MenuOpenIcon,
  ExpandCircleDownIcon,
  ExpandCircleDownFillIcon,
  UndoIcon,
  BackspaceIcon,
  BackspaceFillIcon,
  ArrowCircleRightIcon,
  ArrowCircleRightFillIcon,
  DoneAllIcon,
  ArrowRightIcon,
  DoNotDisturbOnIcon,
  DoNotDisturbOnFillIcon,
  OpenInFullIcon,
  ManageSearchIcon,
  DoubleArrowIcon,
  SyncAltIcon,
  DoneOutlineIcon,
  ZoomInIcon,
  DragIndicatorIcon,
  FullscreenIcon,
  IOSShareIcon,
  StarHalfIcon,
  KeyboardDoubleArrowRightIcon,
  SettingsAccessibilityIcon,
  ReplyIcon,
  ArrowDropUpIcon,
  UnfoldMoreIcon,
  ExitToAppIcon,
  CachedIcon,
  LibraryAddIcon,
  LibraryAddFillIcon,
  TerminalIcon,
  SelectCheckBoxIcon,
  ChangeCircleIcon,
  ChangeCircleFillIcon,
  DisabledByDefaultIcon,
  DisabledByDefaultFillIcon,
  SwapHorizIcon,
  SwapVertIcon,
  CloseFullscreenIcon,
  DatasetIcon,
  DatasetFillIcon,
  AppRegistrationIcon,
  AppRegistrationFillIcon,
  ArrowCircleUpIcon,
  ArrowCircleUpFillIcon,
  DownloadForOfflineIcon,
  DownloadForOfflineFillIcon,
  ArrowCircleLeftIcon,
  ArrowCircleLeftFillIcon,
  AddTaskIcon,
  MinimizeIcon,
  OpenWithIcon,
  FileOpenIcon,
  FileOpenFillIcon,
  StartIcon,
  KeyboardDoubleArrowLeftIcon,
  KeyboardDoubleArrowDownIcon

  // CreateNewFolderIcon,
  // CreateNewFolderFillIcon,
  // UploadIcon,
  // ForwardIcon,
  // CompareArrowsIcon,
  // DownloadingIcon,
  // SettingsApplicationsIcon,
  // SettingsApplicationsFillIcon,
  // PublishIcon,
  // RedoIcon,

  // ZoomOutIcon
  // ArrowLeftIcon
  // TokenIcon
  // TokenFillIcon
  // HTMLIcon
  // SwitchAccessShortcutIcon
  // FullscreenExitIcon
  // ArrowCircleDownIcon
  // ArrowCircleDownFillIcon
  // SortByAlphaIcon
} from '@/assets/icons'

const headPage: HeadPageProps = {
  title: 'iconPageTitle',
  description: 'iconページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author'
}
---

<Layout headPage={headPage}>
  <!-- Reference: https://docs.astro.build/en/guides/images/#svg-components -->
  <!-- <SearchIcon width='48px' height='48px' class={css({ fill: 'primary' })} /> のように -->
  <!-- width='48px' height='48px' と書くことで、元々のSVGに書かれたサイズを上書きできます。 -->
  <!-- svgのfill='currentColor'は他の指定がない限り、':where(body)': { color: 'text' }の値が適用されます。 -->
  <SearchIcon />
  <HomeIcon class={css({ fill: 'primary' })} />
  <HomeFillIcon class={css({ fill: 'secondary' })} />
  <MenuIcon class={css({ fill: 'tertiary' })} />
  <CloseIcon class={css({ fill: 'primary' })} />
  <SettingsIcon class={css({ fill: 'primary' })} />
  <SettingsFillIcon class={css({ fill: 'primary' })} />
  <CheckCircleIcon class={css({ fill: 'primary' })} />
  <CheckCircleFillIcon class={css({ fill: 'primary' })} />
  <FavoriteIcon class={css({ fill: 'primary' })} />
  <FavoriteFillIcon class={css({ fill: 'primary' })} />
  <AddIcon class={css({ fill: 'primary' })} />
  <DeleteIcon class={css({ fill: 'primary' })} />
  <DeleteFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIcon class={css({ fill: 'primary' })} />
  <StarIcon class={css({ fill: 'primary' })} />
  <StarFillIcon class={css({ fill: 'primary' })} />
  <ChevronRightIcon class={css({ fill: 'primary' })} />
  <LogoutIcon class={css({ fill: 'primary' })} />
  <ArrowForwardIOSIcon class={css({ fill: 'primary' })} />
  <AddCircleIcon class={css({ fill: 'primary' })} />
  <AddCircleFillIcon class={css({ fill: 'primary' })} />
  <CancelIcon class={css({ fill: 'primary' })} />
  <CancelFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIOSIcon class={css({ fill: 'primary' })} />
  <ArrowForwardIcon class={css({ fill: 'primary' })} />
  <ArrowDropDownIcon class={css({ fill: 'primary' })} />
  <MoreVertIcon class={css({ fill: 'primary' })} />
  <CheckIcon class={css({ fill: 'primary' })} />
  <CheckBoxIcon class={css({ fill: 'primary' })} />
  <CheckBoxFillIcon class={css({ fill: 'primary' })} />
  <OpenInNewIcon class={css({ fill: 'primary' })} />
  <ToggleOnIcon class={css({ fill: 'primary' })} />
  <ToggleOnFillIcon class={css({ fill: 'primary' })} />
  <RefreshIcon class={css({ fill: 'primary' })} />
  <CheckBoxOutlineBlankIcon class={css({ fill: 'primary' })} />
  <LoginIcon class={css({ fill: 'primary' })} />
  <ChevronLeftIcon class={css({ fill: 'primary' })} />
  <RadioButtonUncheckedIcon class={css({ fill: 'primary' })} />
  <MoreHorizIcon class={css({ fill: 'primary' })} />
  <DownloadIcon class={css({ fill: 'primary' })} />
  <AppsIcon class={css({ fill: 'primary' })} />
  <ArrowRightAltIcon class={css({ fill: 'primary' })} />
  <RadioButtonCheckedIcon class={css({ fill: 'primary' })} />
  <FilterAltIcon class={css({ fill: 'primary' })} />
  <FilterAltFillIcon class={css({ fill: 'primary' })} />
  <RemoveIcon class={css({ fill: 'primary' })} />
  <BoltIcon class={css({ fill: 'primary' })} />
  <BoltFillIcon class={css({ fill: 'primary' })} />
  <ArrowUpwardIcon class={css({ fill: 'primary' })} />
  <ToggleOffIcon class={css({ fill: 'primary' })} />
  <ToggleOffFillIcon class={css({ fill: 'primary' })} />
  <FilterListIcon class={css({ fill: 'primary' })} />
  <DeleteForeverIcon class={css({ fill: 'primary' })} />
  <DeleteForeverFillIcon class={css({ fill: 'primary' })} />
  <AutorenewIcon class={css({ fill: 'primary' })} />
  <KeyIcon class={css({ fill: 'primary' })} />
  <KeyFillIcon class={css({ fill: 'primary' })} />
  <BlockIcon class={css({ fill: 'primary' })} />
  <SyncIcon class={css({ fill: 'primary' })} />
  <ArrowDownwardIcon class={css({ fill: 'primary' })} />
  <SortIcon class={css({ fill: 'primary' })} />
  <AddBoxIcon class={css({ fill: 'primary' })} />
  <AddBoxFillIcon class={css({ fill: 'primary' })} />
  <ArrowBackIOSNewIcon class={css({ fill: 'primary' })} />
  <RestartAltIcon class={css({ fill: 'primary' })} />
  <ShoppingCartCheckoutIcon class={css({ fill: 'primary' })} />
  <MenuOpenIcon class={css({ fill: 'primary' })} />
  <ExpandCircleDownIcon class={css({ fill: 'primary' })} />
  <ExpandCircleDownFillIcon class={css({ fill: 'primary' })} />
  <UndoIcon class={css({ fill: 'primary' })} />
  <BackspaceIcon class={css({ fill: 'primary' })} />
  <BackspaceFillIcon class={css({ fill: 'primary' })} />
  <ArrowCircleRightIcon class={css({ fill: 'primary' })} />
  <ArrowCircleRightFillIcon class={css({ fill: 'primary' })} />
  <DoneAllIcon class={css({ fill: 'primary' })} />
  <ArrowRightIcon class={css({ fill: 'primary' })} />
  <DoNotDisturbOnIcon class={css({ fill: 'primary' })} />
  <DoNotDisturbOnFillIcon class={css({ fill: 'primary' })} />
  <OpenInFullIcon class={css({ fill: 'primary' })} />
  <ManageSearchIcon class={css({ fill: 'primary' })} />
  <DoubleArrowIcon class={css({ fill: 'primary' })} />
  <SyncAltIcon class={css({ fill: 'primary' })} />
  <DoneOutlineIcon class={css({ fill: 'primary' })} />
  <ZoomInIcon class={css({ fill: 'primary' })} />
  <DragIndicatorIcon class={css({ fill: 'primary' })} />
  <FullscreenIcon class={css({ fill: 'primary' })} />
  <IOSShareIcon class={css({ fill: 'primary' })} />
  <StarHalfIcon class={css({ fill: 'primary' })} />
  <KeyboardDoubleArrowRightIcon class={css({ fill: 'primary' })} />
  <SettingsAccessibilityIcon class={css({ fill: 'primary' })} />
  <ReplyIcon class={css({ fill: 'primary' })} />
  <ArrowDropUpIcon class={css({ fill: 'primary' })} />
  <UnfoldMoreIcon class={css({ fill: 'primary' })} />
  <ExitToAppIcon class={css({ fill: 'primary' })} />
  <CachedIcon class={css({ fill: 'primary' })} />
  <LibraryAddIcon class={css({ fill: 'primary' })} />
  <LibraryAddFillIcon class={css({ fill: 'primary' })} />
  <TerminalIcon class={css({ fill: 'primary' })} />
  <SelectCheckBoxIcon class={css({ fill: 'primary' })} />
  <ChangeCircleIcon class={css({ fill: 'primary' })} />
  <ChangeCircleFillIcon class={css({ fill: 'primary' })} />
  <DisabledByDefaultIcon class={css({ fill: 'primary' })} />
  <DisabledByDefaultFillIcon class={css({ fill: 'primary' })} />
  <SwapHorizIcon class={css({ fill: 'primary' })} />
  <SwapVertIcon class={css({ fill: 'primary' })} />
  <CloseFullscreenIcon class={css({ fill: 'primary' })} />
  <DatasetIcon class={css({ fill: 'primary' })} />
  <DatasetFillIcon class={css({ fill: 'primary' })} />
  <AppRegistrationIcon class={css({ fill: 'primary' })} />
  <AppRegistrationFillIcon class={css({ fill: 'primary' })} />
  <ArrowCircleUpIcon class={css({ fill: 'primary' })} />
  <ArrowCircleUpFillIcon class={css({ fill: 'primary' })} />
  <DownloadForOfflineIcon class={css({ fill: 'primary' })} />
  <DownloadForOfflineFillIcon class={css({ fill: 'primary' })} />
  <ArrowCircleLeftIcon class={css({ fill: 'primary' })} />
  <ArrowCircleLeftFillIcon class={css({ fill: 'primary' })} />
  <AddTaskIcon class={css({ fill: 'primary' })} />
  <MinimizeIcon class={css({ fill: 'primary' })} />
  <OpenWithIcon class={css({ fill: 'primary' })} />
  <FileOpenIcon class={css({ fill: 'primary' })} />
  <FileOpenFillIcon class={css({ fill: 'primary' })} />
  <StartIcon class={css({ fill: 'primary' })} />
  <KeyboardDoubleArrowLeftIcon class={css({ fill: 'primary' })} />
  <KeyboardDoubleArrowDownIcon class={css({ fill: 'primary' })} />

  {
    /*
  <CreateNewFolderIcon class={css({ fill: 'primary' })} />
  <CreateNewFolderFillIcon class={css({ fill: 'primary' })} />
  <UploadIcon class={css({ fill: 'primary' })} />
  <ForwardIcon class={css({ fill: 'primary' })} />
  <CompareArrowsIcon class={css({ fill: 'primary' })} />
  <DownloadingIcon class={css({ fill: 'primary' })} />
  <SettingsApplicationsIcon class={css({ fill: 'primary' })} />
  <SettingsApplicationsIcon class={css({ fill: 'primary' })} />
  <PublishIcon class={css({ fill: 'primary' })} />
  <RedoIcon class={css({ fill: 'primary' })} />
  */
  }

  {
    /*
  <ZoomOutIcon class={css({ fill: 'primary' })} />
  <ArrowLeftIcon class={css({ fill: 'primary' })} />
  <TokenIcon class={css({ fill: 'primary' })} />
  <TokenFillIcon class={css({ fill: 'primary' })} />
  <HTMLIcon class={css({ fill: 'primary' })} />
  <SwitchAccessShortcutIcon class={css({ fill: 'primary' })} />
  <FullscreenExitIcon class={css({ fill: 'primary' })} />
  <ArrowCircleDownIcon class={css({ fill: 'primary' })} />
  <ArrowCircleDownFillIcon class={css({ fill: 'primary' })} />
  <SortByAlphaIcon class={css({ fill: 'primary' })} />
     */
  }

  {
    /* 書き方の例
    <svg viewBox='85 -880 803 800' width='24px' height='24px' fill='currentColor' aria-label=''>
      <path
        d='m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm112-260q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Z'
      >
      </path>
      <title></title>
    </svg>
    */
  }

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='create new folder'
  >
    <path
      d='M560-320h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z'
    >
    </path>
    <title>create new folder</title>
  </svg>
  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='create new folder fill'
  >
    <path
      d='M560-320h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Z'
    >
    </path>
    <title>create new folder fill</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='currentColor' aria-label='upload'>
    <path
      d='M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z'
    >
    </path>
    <title>upload</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='currentColor' aria-label='forward'>
    <path
      d='m640-280-57-56 184-184-184-184 57-56 240 240-240 240ZM80-200v-160q0-83 58.5-141.5T280-560h247L383-704l57-56 240 240-240 240-57-56 144-144H280q-50 0-85 35t-35 85v160H80Z'
    >
    </path>
    <title>forward</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='compare arrows'
  >
    <path
      d='m320-160-56-57 103-103H80v-80h287L264-503l56-57 200 200-200 200Zm320-240L440-600l200-200 56 57-103 103h287v80H593l103 103-56 57Z'
    >
    </path>
    <title>compare arrows</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='downloading'
  >
    <path
      d='M439-82q-76-8-141.5-42.5t-113.5-88Q136-266 108.5-335T81-481q0-155 102.5-268.5T440-880v80q-121 17-200 107.5T161-481q0 121 79 211.5T439-162v80Zm40-198L278-482l57-57 104 104v-245h80v245l103-103 57 58-200 200Zm40 198v-80q43-6 82.5-23t73.5-43l58 58q-47 37-101 59.5T519-82Zm158-652q-35-26-74.5-43T520-800v-80q59 6 113 28.5T733-792l-56 58Zm112 506-56-57q26-34 42-73.5t22-82.5h82q-8 59-30 113.5T789-228Zm8-293q-6-43-22-82.5T733-677l56-57q38 45 61 99.5T879-521h-82Z'
    >
    </path>
    <title>downloading</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='settings applications'
  >
    <path
      d='M440-280h80l12-60q12-5 22.5-10.5T576-364l58 18 40-68-46-40q2-14 2-26t-2-26l46-40-40-68-58 18q-11-8-21.5-13.5T532-620l-12-60h-80l-12 60q-12 5-22.5 10.5T384-596l-58-18-40 68 46 40q-2 14-2 26t2 26l-46 40 40 68 58-18q11 8 21.5 13.5T428-340l12 60Zm40-120q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z'
    >
    </path>
    <title>settings applications</title>
  </svg>
  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='settings applications fill'
  >
    <path
      d='M440-280h80l12-60q12-5 22.5-10.5T576-364l58 18 40-68-46-40q2-14 2-26t-2-26l46-40-40-68-58 18q-11-8-21.5-13.5T532-620l-12-60h-80l-12 60q-12 5-22.5 10.5T384-596l-58-18-40 68 46 40q-2 14-2 26t2 26l-46 40 40 68 58-18q11 8 21.5 13.5T428-340l12 60Zm40-120q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Z'
    >
    </path>
    <title>settings applications fill</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='currentColor' aria-label='publish'>
    <path
      d='M440-160v-326L336-382l-56-58 200-200 200 200-56 58-104-104v326h-80ZM160-600v-120q0-33 23.5-56.5T240-800h480q33 0 56.5 23.5T800-720v120h-80v-120H240v120h-80Z'
    >
    </path>
    <title>publish</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='currentColor' aria-label='redo'>
    <path
      d='M396-200q-97 0-166.5-63T160-420q0-94 69.5-157T396-640h252L544-744l56-56 200 200-200 200-56-56 104-104H396q-63 0-109.5 40T240-420q0 60 46.5 100T396-280h284v80H396Z'
    >
    </path>
    <title>redo</title>
  </svg>

  {/********************************************************************************** */}

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='zoom out'
  >
    <path
      d='M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400ZM280-540v-80h200v80H280Z'
    >
    </path>
    <title>zoom out</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='arrow left'
  >
    <path d='M560-280 360-480l200-200v400Z'></path>
    <title>arrow left</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='currentColor' aria-label='token'>
    <path
      d='M480-80 120-280v-400l360-200 360 200v400L480-80ZM364-590q23-24 53-37t63-13q33 0 63 13t53 37l120-67-236-131-236 131 120 67Zm76 396v-131q-54-14-87-57t-33-98q0-11 1-20.5t4-19.5l-125-70v263l240 133Zm40-206q33 0 56.5-23.5T560-480q0-33-23.5-56.5T480-560q-33 0-56.5 23.5T400-480q0 33 23.5 56.5T480-400Zm40 206 240-133v-263l-125 70q3 10 4 19.5t1 20.5q0 55-33 98t-87 57v131Z'
    >
    </path>
    <title>token</title>
  </svg>
  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='token fill'
  >
    <path
      d='M364-590 162-703l318-177 318 177-202 113q-23-24-53-37t-63-13q-33 0-63 13t-53 37Zm76 488L120-280v-355l205 115q-3 10-4 19.5t-1 20.5q0 55 33 98t87 57v223Zm40-298q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm40 298v-223q54-14 87-57t33-98q0-11-1-20.5t-4-19.5l205-115v355L520-102Z'
    >
    </path>
    <title>token fill</title>
  </svg>

  <svg viewBox='0 -960 960 960' width='24px' height='24px' fill='currentColor' aria-label='html'>
    <path
      d='M0-360v-240h60v80h80v-80h60v240h-60v-100H60v100H0Zm310 0v-180h-70v-60h200v60h-70v180h-60Zm170 0v-200q0-17 11.5-28.5T520-600h180q17 0 28.5 11.5T740-560v200h-60v-180h-40v140h-60v-140h-40v180h-60Zm320 0v-240h60v180h100v60H800Z'
    >
    </path>
    <title>html</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='switch access shortcut'
  >
    <path
      d='M600-80q-127-48-203.5-158T320-484q0-91 36-172.5T458-800H320v-80h280v280h-80v-148q-57 51-88.5 119.5T400-484q0 102 54 187.5T600-167v87Z'
    >
    </path>
    <title>switch access shortcut</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    height='24px'
    width='24px'
    fill='currentColor'
    aria-label='fullscreen exit'
  >
    <path
      d='M240-120v-120H120v-80h200v200h-80Zm400 0v-200h200v80H720v120h-80ZM120-640v-80h120v-120h80v200H120Zm520 0v-200h80v120h120v80H640Z'
    >
    </path>
    <title>fullscreen exit</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='arrow circle down'
  >
    <path
      d='m480-320 160-160-56-56-64 64v-168h-80v168l-64-64-56 56 160 160Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'
    >
    </path>
    <title>arrow circle down</title>
  </svg>
  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='arrow circle down fill'
  >
    <path
      d='m480-320 160-160-56-56-64 64v-168h-80v168l-64-64-56 56 160 160Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'
    >
    </path>
    <title>arrow circle down fill</title>
  </svg>

  <svg
    viewBox='0 -960 960 960'
    width='24px'
    height='24px'
    fill='currentColor'
    aria-label='sort by alpha'
  >
    <path
      d='m80-280 150-400h86l150 400h-82l-34-96H196l-32 96H80Zm140-164h104l-48-150h-6l-50 150Zm328 164v-76l202-252H556v-72h282v76L638-352h202v72H548ZM360-760l120-120 120 120H360ZM480-80 360-200h240L480-80Z'
    >
    </path>
    <title>sort by alpha</title>
  </svg>
</Layout>
