---
import { css } from '@/../styled-system/css'
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'

const headPage: HeadPageProps = {
  title: 'indexPageTitle',
  description: 'indexページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author',
}
---

<Layout headPage={headPage}>
  <h1 class={css({ fontWeight: 'bold', _hover: { fontWeight: 'thin' } })}>h1h1h1</h1>
  <h2 class={css({ fontWeight: 'thin' })}>h2h2h2</h2>
  <h3 class={css({})}>h3h3h3</h3>
  <h4 class={css({ fontWeight: { base: 'normal', sm: 'bold' } })}>h4h4h4</h4>
  <h5 class={css({ color: 'bg.header' })}>h5h5h5</h5>
  <h6 class={css({ bgGradient: 'sample7' })}>h6h6h6</h6>
  <h6 class={css({ bgGradient: 'sample1', w: '2/3' })}>width1</h6>
  <h6 class={css({ bgGradient: 'sample2', w: 'full' })}>width2</h6>
  <h6 class={css({ bgGradient: 'sample3', w: '24' })}>width3</h6>
  <h6 class={css({ bgGradient: 'sample4', pt: '4' })}>spacing1</h6>
  <h6 class={css({ bgGradient: 'sample6', pl: '6', pr: '6' })}>spacing2</h6>
  <h6 class={css({ fontFamily: 'sans' })}>spacing3</h6>
  <h6 class={css({ fontSize: '2xl' })}>spacing3</h6>
  <a href='aaa'>AAAAAA</a>
  <br />
  <hr />
  <p><strong class={css({})}>strong</strong></p>
  <em>aaaaaaa</em>
  <p>CCC</p>
  <p><strong>DDD</strong></p>
  <nav>nav</nav>
  <blockquote>blockquote</blockquote>
  <ol>
    <li>li</li>
  </ol>
  <dl>
    <dt>用語</dt>
    <dd>定義</dd>
  </dl>
  <textarea>a</textarea>
  <p>pタグ</p>
  <p>iiiiiiiiiiiiiiii</p>
  <p>wwwwwwwwwwwwwwww</p>
  <p>codeタグ</p>
  <code>iiiiiiiiiiiiiiii</code>
  <br />
  <code>wwwwwwwwwwwwwwww</code>
  <details>
    <summary>Details</summary>
    Something small enough to escape casual notice.
  </details>
</Layout>
