---
import { css, cva } from '@/../styled-system/css'
import { stack } from '@/../styled-system/patterns'
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'

const headPage: HeadPageProps = {
  title: 'indexPageTitle',
  description: 'indexページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author'
}

const testCSS = cva({
  base: {
    fontWeight: 'medium',
    px: '3',
    rounded: 'md'
  },
  variants: {
    status: {
      default: {
        color: 'white',
        bg: 'gray.500'
      },
      success: {
        color: 'white',
        bg: 'green.500'
      },
      warning: {
        color: 'white',
        bg: 'yellow.500',
        w: '3'
      }
    }
  },
  defaultVariants: {
    status: 'default'
  }
})
---

<Layout headPage={headPage}>
  <h1
    class={css({
      fontWeight: 'bold',
      pos: 'fixed',
      bottom: '0',
      right: '0'
    })}
  >
    h1h1h1
  </h1>
  <h2 class={css({ fontWeight: 'thin' })}>h2h2h2</h2>
  <h3 class={testCSS({})}>h3h3h3</h3>
  <h4 class={css({ fontWeight: { base: 'normal', sm: 'bold' } })}>h4h4h4</h4>
  <h5 class={css({ color: 'bg.header' })}>h5h5h5</h5>
  <h6 class={css({ bgGradient: 'sample7' })}>h6h6h6</h6>
  <h6 class={css({ bgGradient: 'sample1', w: '2/3' })}>width1</h6>
  <h6 class={css({ bgGradient: 'sample2', w: 'full' })}>width2</h6>
  <h6 class={css({ bgGradient: 'sample3', w: '24' })}>width3</h6>
  <h6 class={css({ bgGradient: 'sample4', pt: '4' })}>spacing1</h6>
  <h6 class={css({ bgGradient: 'sample6', pl: '6', pr: '6' })}>spacing2</h6>
  <h6 class={css({ fontFamily: 'sans' })}>spacing3</h6>
  <h6 class={css({ fontSize: '2xl' })}>spacing3</h6>
  <h6 class={css({ fontWeight: 'bold' })}>spacing4</h6>
  <h6 class={css({ letterSpacing: 'widest' })}>spacing5</h6>
  <h6 class={css({ lineHeight: 'relaxed' })}>
    spacing6. In many cultures around the world, nature holds a profound significance, often
    symbolizing strength, balance, and the cycle of life. Nature is both nurturing and relentless,
    shaping our environment and our lives in ways that are sometimes gentle and sometimes
    catastrophic.
  </h6>
  <p><small>一回り小さいサイズで表示されます。</small></p>
  <h6
    class={css({
      w: '32',
      h: '20',
      bgGradient: 'sample1',
      roundedTopLeft: 'none',
      roundedTopRight: 'lg',
      roundedBottomRight: '2xl',
      roundedBottomLeft: '4xl'
    })}
  >
    spacing7
  </h6>
  <h6
    class={css({
      border: 'border3.border4'
    })}
  >
    spacing8
  </h6>
  <div class={css({ shadow: 'shadow4.shadow5.shadow6' })}>spacing9</div>
  <div
    class={css({
      transitionTimingFunction: 'linear',
      w: '16',
      bg: 'primary'
      // ホバーはインタラクティブな要素だけに適用するためコメント
      // _hover: {
      //   '@media (any-hover: hover)': {
      //     w: 'full',
      //     bg: 'tertiary',
      //     transitionProperty: 'background-color, width',
      //     // transition: 'all',
      //     transitionTimingFunction: 'jumpNone4',
      //     // transitionDelay: 'fast',
      //     transitionDuration: 'slowest' // 'faster',
      //   }
      // }
    })}
  >
    transitionTimingFunction
  </div>
  <div
    class={css({
      w: '16',
      h: '8',
      bgColor: 'bg.header'
      // ホバーはインタラクティブな要素だけに適用するためコメント
      // transitionDuration: 'slow'
      // _hover: { '@media (any-hover: hover)': { w: '64', bgColor: 'bg.footer' } }
    })}
  >
    ABC
  </div>
  <div class={css({ animation: 'bounce' })}>animation</div>
  <div
    class={css({ bgGradient: 'sample1', rounded: 'xl', maxW: '80', h: '16', animation: 'fadeIn' })}
  >
    fadeIn
  </div>
  <div
    class={css({ bgGradient: 'sample1', rounded: 'xl', maxW: '80', h: '16', animation: 'slideIn' })}
  >
    slideIn
  </div>
  <div
    class={css({ bgGradient: 'sample1', rounded: 'xl', maxW: '80', h: '16', animation: 'zoomIn' })}
  >
    zoomIn
  </div>
  <div
    class={css({ bgGradient: 'sample1', rounded: 'xl', maxW: '80', h: '16', animation: 'poyoyon' })}
  >
    poyoyon
  </div>
  <div
    class={css({
      bgGradient: 'sample1',
      rounded: 'xl',
      maxW: '80',
      h: '16',
      animation: 'poyoyon2'
    })}
  >
    poyoyon2
  </div>
  <div
    class={css({
      bgGradient: 'sample1',
      rounded: 'xl',
      maxW: '80',
      h: '16',
      animation: 'poyoyon3'
    })}
  >
    poyoyon3
  </div>
  <div
    class={css({
      bgGradient: 'sample1',
      rounded: 'xl',
      maxW: '80',
      h: '16',
      animation: 'slideSkew'
    })}
  >
    slideSkew
  </div>
  <div
    class={css({
      bgGradient: 'sample1',
      rounded: 'xl',
      maxW: '80',
      h: '16',
      animation: 'popup'
    })}
  >
    popup
  </div>
  <div
    class={css({
      bgGradient: 'sample1',
      rounded: 'xl',
      maxW: '80',
      h: '16',
      animation: 'poyopoyo'
    })}
  >
    poyopoyo
  </div>
  <div
    class={css({
      bgGradient: 'sample1',
      rounded: 'xl',
      maxW: '80',
      h: '16',
      animation: 'fadeUp'
    })}
  >
    fadeUp
  </div>
  <div class={css({ w: '64', aspectRatio: 'widescreen', bgColor: 'primary' })}>aspectRatio</div>
  <div class={css({ opacity: 'medium' })}>opacity</div>
  <div class={css({ zIndex: 'docked' })}>zIndex</div>
  <div class={css({ h: '96', bgSize: 'contain' })}>asset</div>
  <div class={css({ p: '10' })}>asset</div>
  <div class={stack({ w: '16', p: '4' })}>aaa</div>
  <br />
  <hr />
  <p><strong class={css({})}>strong</strong></p>
  <em>aaaaaaa</em>
  <p>CCC</p>
  <p><strong>DDD</strong></p>
  <nav>nav</nav>
  <blockquote>blockquote</blockquote>
  <ol>
    <li>li</li>
  </ol>
  <dl>
    <dt>用語</dt>
    <dd>定義</dd>
  </dl>
  <textarea>a</textarea>
  <p>pタグ</p>
  <p>iiiiiiiiiiiiiiii</p>
  <p>wwwwwwwwwwwwwwww</p>
  <p>codeタグ</p>
  <code>iiiiiiiiiiiiiiii</code>
  <br />
  <code>wwwwwwwwwwwwwwww</code>
  <details>
    <summary>Details</summary>
    Something small enough to escape casual notice.
  </details>
</Layout>
