---
import Layout from '@/layouts/Layout.astro'
import type { HeadPageProps } from '@/layouts/head/types'
import { Ssr as SsrComponent } from '@/templates/ssr/Ssr.tsx'

export const prerender = false // SSRを有効

export async function get() {
  return {
    body: JSON.stringify({
      message: 'Hello, SSR!',
      date: new Date().toISOString()
    }),
    headers: {
      'Content-Type': 'application/json'
    }
  }
}

const now = new Date().toLocaleString() // 現在のサーバーの時間

const headPage: HeadPageProps = {
  title: 'ssrPageTitle',
  description: 'ssrページの説明です。',
  robots: 'all',
  ogType: 'website',
  ogImage: '/ogp/general.webp',
  ogImageAlt: 'ogImageAlt',
  xCreator: '@xCreator',
  author: 'author'
}
---

<Layout headPage={headPage}>
  <h1>Astro SSR Check</h1>
  <p>Server-rendered date and time: {now}</p>
  <SsrComponent client:load />
</Layout>
