---
// export const prerender = false

const counter = 0

Astro.cookies.set('counter', String(counter))

export async function get() {
  return {
    body: JSON.stringify({
      message: 'Hello, SSR!',
      date: new Date().toISOString()
    }),
    headers: {
      'Content-Type': 'application/json'
    }
  }
}

const now = new Date().toLocaleString() // 現在のサーバー時間
---

<h1>Astro SSR Check</h1>
<p>Server-rendered date and time: {now}</p>
