---
import Aside from '@/layouts/aside/Aside.astro'
import type { AsideProps } from '@/layouts/aside/types'
import BodyGTM from '@/layouts/bodyGTM/BodyGTM.astro'
import Footer from '@/layouts/footer/Footer.astro'
import Head from '@/layouts/head/Head.astro'
import type { HeadPageProps, HeadSiteProps } from '@/layouts/head/types'
import Header from '@/layouts/header/Header.astro'
import '@/index.css'
import { fade } from 'astro:transitions'
import { css } from '@/../styled-system/css'
// import SpeedInsights from '@vercel/speed-insights/astro'

interface Props {
  headPage: HeadPageProps
  aside?: AsideProps
}

const { headPage, aside } = Astro.props

const headSite: HeadSiteProps = {
  webSiteName: 'Webサイト全体で共通の文章を書いてください。',
  isFaviconSVG: true,
  xCard: 'summary_large_image',
  xSite: '@xSite',
  isAppleTouchIcon: true,
  themeColor: '#808080',
  fbAppID: '01234567890',
  gtmID: 'GTM-XXXXXXXX'
}
---

<!doctype html>
<html lang='ja' transition:animate='none'>
  <Head headPage={headPage} headSite={headSite} />
  <body class={css({ bgColor: 'sky.200' })} transition:animate={fade({ duration: '0.3s' })}>
    {headSite.gtmID && <BodyGTM gtmID={headSite.gtmID} />}
    <Header />
    <main
      class={css({
        w: '3xl',
        maxW: 'innerSize',
        // eslint-disable-next-line @pandacss/no-margin-properties
        mx: 'auto'
      })}
    >
      <slot />
    </main>
    {aside && <Aside aside={aside} />}
    <Footer />
    {/* <SpeedInsights /> */}
  </body>
</html>
