---
import Head from '@/layouts/head/Head.astro'
import type { HeadPageProps, HeadSiteProps } from '@/layouts/head/types'
import '../index.css'

interface Props {
  headPage: HeadPageProps
}

const { headPage } = Astro.props

const headSite: HeadSiteProps = {
  webSiteName: 'Webサイト全体で共通の文章を書いてください。',
  isFaviconSVG: true,
  xCard: 'summary_large_image',
  xSite: '@xSite',
  isAppleTouchIcon: true,
  themeColor: '#808080',
  fbAppID: '01234567890',
  gtmID: 'GTM-XXXXXXXX',
}
---

<!doctype html>
<html lang='ja'>
  <Head headPage={headPage} headSite={headSite} />
  <body>
    {/* Google Tag Manager(noscript) */}
    {
      headSite.gtmID && (
        <noscript>
          <iframe
            src={`https://www.googletagmanager.com/ns.html?id=${headSite.gtmID}`}
            height='0'
            width='0'
            style='display: none; visibility: hidden'
            title='Google Tag Manager'
            loading='lazy'
          />
        </noscript>
      )
    }
    <slot />
  </body>
</html>
